@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*
main goals
1. responsive & fluid typography
2. become more comfortable w/ css grid
*/

:root {
    /*color scheme,
    light to dark*/


    /*layout*/
    --general-page-margin:1.5rem;
    
}


/*default styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#bfc5d6;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#000;
}

img {
    max-width:100%;
}



.article-page {
    position: absolute;
    background-color:#fff;
    border-radius: 5px;

    min-width:50rem;
    width:50vw;
    max-width:80rem;


    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}


.article-page__header {
    /* background:red; */
    position: relative;
    margin:1.25rem var(--general-page-margin) 0 var(--general-page-margin);
}


.article-page__header::after {
    content:"";
    position: absolute;
    background:#eee;
    width:calc(100% + (var(--general-page-margin) * 2));
    height:1px;
    top:60%;
    transform:translateY(-60%);
    /*move left minus the --general-page-margin
    EG: if the general page margin is 1rem than left will be -1rem*/
    left:calc(var(--general-page-margin) - (var(--general-page-margin) * 2));

}


/*first navbar*/
.navbar-1__items-section {
    display:flex;
}

.navbar-1 {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
}


.navbar-1__items {
    display:flex;
}

.navbar-1__item {
    margin:0 0.6rem;
}

.navbar-1__item:first-of-type {
    margin-left:0;
}

.item-dropdown {
    height:0;
    visibility: hidden;
}

.item-dropdown__heading {
    position: relative;
    display:flex;
    align-items:center;
}

.item-dropdown__heading h4 {
    margin-right:0.25rem;
    font-weight:400;
}

.item-dropdown__heading .fa-chevron-down {
    position: relative;
    font-size:0.75rem;
    top:-1px;
}





/*second navbar*/
.navbar-2 {
    display:flex;
    justify-content: space-between;

    margin:2rem 0 3rem 0;
}

.navbar-2__items-1 {
    display:flex;
}

.navbar-2__item {
    margin:0 0.6rem;
}

.navbar-2__item:first-of-type {
    margin-left:0;
}

/*btn styles*/
.btn-1 {
    background:none;
    border:1px solid gray;
    border-radius: 50px;
    font-weight: 600;
    font-size:0.75rem;
    letter-spacing: 0.25px;
    padding:0.5rem 0.85rem;
}

.log-in-btn {
    color:#000;
    background:#fff;

    margin-right:0.5rem;
}

.get-started-btn {
    color:#fff;
    background:#000;
    border:none;
}


.articles {
    display:flex;

    background:rgba(0, 0, 255, 0.15);
    margin:0 var(--general-page-margin);
}


/*current article*/
.current-article {
    background:rgba(0, 0, 255, 0.3);

    display:grid;
}

.current-article__heading {
    font-size:2.25rem;
}


.current-article__img {
    width:20rem;
    border-radius: 5px;
}

.current-article__text {
    width:48ch;
}


/*recent article*/
.recent-article-section__img {
    width:125px;
    height:125px;
    object-fit:cover;
    object-position:center center;
}


/* .recent-article-section-container {
    display:grid;
} */

.recent-article-section {
    display:flex;

    /* background:red;
    margin:1rem 0; */
}


.user-profile {
    display:flex;
    align-items:center;
    /* justify-content: center; */
}

.user-profile__img {
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit:cover;
    object-position:center center;
}